<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style_blog.css}">
</head>

<body>
    <header>
        <h3>MY BLOG</h3>
        <nav>
            <ul class="title">
                <li><a th:href="@{/account/blog/list}">トップ</a></li>
                <li><a th:href="@{/account/blog/register}">記事を書く</a></li>
                <li><a th:href="@{/account/login}">ログアウト</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>夏の風物詩</h1>
        <section>
            <div>
                <form th:action="@{/list}" method="post">
                    <img th:src="@{/blog-img/himawari.png}" alt="">
                    <a href="">ひまわり</a>
                    <p>・ひまわりひまわりひまわり</p>
                </form>
            </div>
            <div>
                <form action="" method="post">
                    <img th:src="@{/blog-img/beach_parasol.png}" alt="">
                    <a href="">ビーチ</a>
                    <p>・ビーチビーチビーチ</p>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <small>&copy;DEN.2023</small>
    </footer>
</body>

</html>