<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style_blog.css}">
</head>

<body>
    <header>
        <h3>MY BLOG</h3>
        <nav>
            <ul class="title">
                <li><a th:href="@{/account/blog/list}">トップ</a></li>
                <li><a th:href="@{/account/blog/register}">記事を書く</a></li>
                <li><a th:href="@{/account/login}">ログアウト</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>夏の風景</h1>
        <section>
            <div th:each="blog:${blogList}">
                <!--<form th:action="@{/list}" method="post">-->
                    <img th:src="@{/blog-img/{item}(item=${blog.image})}" alt="">
                    <a th:text="${blog.title}" th:href="@{/account/blog/edit/{blogId}(blogId=${blog.blogId})}"></a>
                    <p th:text="${blog.article}"></p>
                <!--</form>-->
            </div>
        </section>
    </main>
    <footer>
        <small>&copy;DEN.2023</small>
    </footer>
</body>

</html>