<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_blog.css">
</head>

<body>
    <header>
        <h3>MY BLOG</h3>
        <nav>
            <ul class="title">
                <li><a href="blog.html">トップ</a></li>
                <li><a href="blog_write.html">記事を書く</a></li>
                <li><a href="login.html">ログアウト</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>夏の風景</h1>
        <section>
            <div>
                <form action="" method="post">
                    <img src="himawari.png" alt="">
                    <a href="">ひまわり</a>
                    <p>・ひまわりひまわりひまわり</p>
                </form>
            </div>
            <div>
                <form action="" method="post">
                    <img src="beach_parasol.png" alt="">
                    <a href="">ビーチ</a>
                    <p>・ビーチビーチビーチ</p>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <small>&copy;DEN.2023</small>
    </footer>
</body>

</html>