<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_blog_register.css">
</head>

<body>
    <div>
        <form action="" method="post">
            <label for="title">タイトル</label>
            <input type="text" id="title" name="title">
            <label for="image">画像</label>
            <input type="file" id="image" name="image">
            <label for="article">記事</label>
            <textarea name="" id="article" cols="65" rows="20"></textarea>
            <span>
                <input type="submit" id="submit" value="送信">
                <input type="submit" id="submit3" value="戻る">
            </span>
        </form>
    </div>
</body>

</html>